@page "/pager"

<ul class="pagination">
    @if (CurrentPage > 1)
    {
    <li class="page-item"><a class="page-link" href="javascript:;" onclick="@(e => ChangePage(CurrentPage - 1))">&laquo;</a></li>
    }
    else
    {
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    }
    @for (var i = 1; i <= PageCount; i++)
    {
        var p = i;
        @if (i == CurrentPage)
        {
        <li class="page-item active"><span class="page-link">@i</span></li>
        }
        else
        {
        <li class="page-item"><a class="page-link" href="javascript:;" onclick="@(e => ChangePage(p))">@i</a></li>
        }
    }
    @if (CurrentPage < PageCount)
    {
    <li class="page-item"><a class="page-link" href="javascript:;" onclick="@(e => ChangePage(CurrentPage + 1))">&raquo;</a></li>
    }
    else
    {
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    }
</ul>

@functions {
    [Parameter]
    int CurrentPage { get; set; }
    [Parameter]
    int PageCount { get; set; }
    [Parameter]
    public Action<int> PageChanged { get; set; }

    protected void ChangePage(int newPage)
    {
        CurrentPage = newPage;
        PageChanged(newPage);
    }
}
